<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380288688634-9bpvg5qinsgskg497bn9ppa7hd389keg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380288688634-9bpvg5qinsgskg497bn9ppa7hd389keg</string>
	<key>API_KEY</key>
	<string>AIzaSyAvo9N1tWsbIhCIiBcyY3SdLpO5aNpgKo4</string>
	<key>GCM_SENDER_ID</key>
	<string>380288688634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkebac.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-38d4f</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-38d4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380288688634:ios:2dcce8cf6f977bf1a54443</string>
</dict>
</plist>